.calculator {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, 1fr); */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 5% 1fr 8% 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
      "top-blue top-blue top-blue top-blue"
      "display-left display display display-right"
      "name-model name-model name-model name-model"
      "solar-strip solar-strip solar-strip-right solar-strip-right"
      "divide multiply subtract plus"
      "7 8 9 equal"
      "4 5 6 equal"
      "1 2 3 equal"
      "clear 0 decimal equal";
    width: 500px;
    height: 600px;
    margin:0 auto;
    margin-top: 100px;

}

#solar-strip {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "strip1 strip2 strip3 strip4"
}

#strip1 {
    grid-area: strip1;
}

#strip2 {
    grid-area: strip2;
}

#strip3 {
    grid-area: strip3;
}

#strip4 {
    grid-area: strip4;
}

.button {
    background-color: #F2F4F7;
    font-weight: bold;
    font-size: 150%;
}

.operator {
    background-color: #D02027;
    color: #F2F4F7;
    font-weight: bold;
    font-size: 175%;
}

/* temporary until I style the calculator */
div > div {
    border: solid 1px black;
}

#top-blue {
    grid-area: top-blue;
    background-color: #0A548F;
}

#display-left {
    grid-area: display-left;
    background-color: #0A548F;
}

#display {
    grid-area: display;
    background-color: #B7BABB;
}

#display-right {
    grid-area: display-right;
    background-color: #0A548F;
}

#name-model {
    grid-area: name-model;
    background-color: #0A548F;
    color: #F2F4F7;
    font-size: 200%;
}

#solar-strip {
    grid-area: solar-strip;
    background-color: #171E1C;
}

#solar-strip-right {
    grid-area: solar-strip-right;
    background-color: #0A548F;
}

#7 {
    grid-area: 7;
}

#8 {
    grid-area: 8;
}

#9 {
    grid-area: 9;
}

#divide {
    grid-area: divide;
}

#4 {
    grid-area: 4;
}

#5 {
    grid-area: 5;
}

#6 {
    grid-area: 6;
}

#multiply {
    grid-area: multiply;
}

#1 {
    grid-area: 1;
}

#2 {
    grid-area: 2;
}

#3 {
    grid-area: 3;
}

#subtract {
    grid-area: subtract;
}

#0 {
    grid-area: 0;
}

#decimal {
    grid-area: decimal;
}

#plus {
    grid-area: plus;
}

#equal {
    grid-area: equal;
}

#clear {
    grid-area: clear;
}