.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: 
      "top-blue top-blue top-blue top-blue"
      "display-left display display display-right"
      "name-model name-model name-model name-model"
      "solar-strip solar-strip solar-strip-right solar-strip-right"
      "divide multiply subtract plus"
      "7 8 9 equal"
      "4 5 6 equal"
      "1 2 3 equal"
      "clear 0 decimal equal";
    width: 500px;
    margin:0 auto;
    margin-top: 200px;

}

/* temporary until I style the calculator */
div > div {
    border: solid 1px black;
}

#top-blue {
    grid-area: top-blue;
    background-color: grey;
}

#display-left {
    grid-area: display-left;
}

#display {
    grid-area: display;
}

#display-right {
    grid-area: display-right;
}

#name-model {
    grid-area: name-model;
}

#solar-strip {
    grid-area: solar-strip;
}

#solar-strip-right {
    grid-area: solar-strip-right;
}

#7 {
    grid-area: 7;
}

#8 {
    grid-area: 8;
}

#9 {
    grid-area: 9;
}

#divide {
    grid-area: divide;
}

#4 {
    grid-area: 4;
}

#5 {
    grid-area: 5;
}

#6 {
    grid-area: 6;
}

#multiply {
    grid-area: multiply;
}

#1 {
    grid-area: 1;
}

#2 {
    grid-area: 2;
}

#3 {
    grid-area: 3;
}

#subtract {
    grid-area: subtract;
}

#0 {
    grid-area: 0;
}

#decimal {
    grid-area: decimal;
}

#plus {
    grid-area: plus;
}

#equal {
    grid-area: equal;
}

#clear {
    grid-area: clear;
}