.calculator {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    /* TODO must fix rows */
    grid-template-areas: 
      "top-blue top-blue top-blue top-blue top-blue"
      "display-left display display display display-right";
}

#top-blue {
    grid-area: top-blue;
    background-color: blue;
}

#display-left {
    grid-area: display-left;
}

#display {
    grid-area: display;
}

#display-right {
    grid-area: display-right;
}